<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.massimodz8.collaborativegrouporder">

    <uses-permission
        android:name="android.permission.VIBRATE"
        android:required="true" />

    <!--
    <uses-permission
        android:required="true"
        android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:required="true" />
    -->
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />

    <application
        android:name=".CrossActivityShare"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectFormingGroupActivity"
            android:label="@string/selectFormingGroupActivity_title"
            android:parentActivityName=".MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.massimodz8.collaborativegrouporder.MainMenuActivity" />
        </activity>
        <activity
            android:name=".ExplicitConnectionActivity"
            android:label="@string/eca_title" />
        <activity
            android:name=".master.NewPartyDeviceSelectionActivity"
            android:label="@string/npdsa_title"
            android:parentActivityName=".MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.massimodz8.collaborativegrouporder.MainMenuActivity" />
        </activity>
        <activity
            android:name=".master.NewCharactersApprovalActivity"
            android:label="@string/ncaa_title"
            android:parentActivityName=".MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.massimodz8.collaborativegrouporder.MainMenuActivity" />
        </activity>
        <activity
            android:name=".NewCharactersProposalActivity"
            android:label="@string/ncpa_title"
            android:parentActivityName=".MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.massimodz8.collaborativegrouporder.MainMenuActivity" />
        </activity>
        <activity
            android:name=".PartyPickActivity"
            android:label="@string/ppa_title"
            android:parentActivityName=".MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.massimodz8.collaborativegrouporder.MainMenuActivity" />
        </activity>
        <activity
            android:name=".master.GatheringActivity"
            android:label="@string/ga_title"
            android:parentActivityName=".MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.massimodz8.collaborativegrouporder.MainMenuActivity" />
        </activity>
        <activity
            android:name=".JoinSessionActivity"
            android:label="@string/jsa_title"
            android:parentActivityName=".MainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.massimodz8.collaborativegrouporder.MainMenuActivity" />
        </activity>
        <activity
            android:name=".client.CharSelectionActivity"
            android:label="@string/csa_title"
            android:parentActivityName=".MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.massimodz8.collaborativegrouporder.MainMenuActivity" />
        </activity>

        <service
            android:name=".master.PartyJoinOrderService"
            android:enabled="true"
            android:exported="false"
            android:label="@string/pjos_label" />
        <service
            android:name=".master.PartyCreationService"
            android:enabled="true"
            android:exported="false"
            android:label="@string/pcs_label" />
        <service
            android:name=".PartyPickingService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".master.FreeRoamingActivity"
            android:label="@string/fra_title"
            android:parentActivityName=".master.GatheringActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".master.GatheringActivity" />
        </activity>
        <activity
            android:name=".master.SpawnMonsterActivity"
            android:label="@string/sma_title"
            android:parentActivityName=".master.FreeRoamingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".master.FreeRoamingActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".master.BattleActivity"
            android:label="@string/ba_title"
            android:parentActivityName=".master.FreeRoamingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".master.FreeRoamingActivity" />
        </activity>
        <activity
            android:name=".MyActorRoundActivity"
            android:label="@string/mara_title"
            android:parentActivityName=".master.BattleActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".master.BattleActivity" />
        </activity>

        <service
            android:name=".client.AdventuringService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".client.ActorOverviewActivity"
            android:label="@string/aoa_title"
            android:parentActivityName=".MainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenuActivity" />
        </activity>
        <activity android:name=".InterstitialAdPlaceholderActivity" />
        <activity
            android:name=".master.AwardExperienceActivity"
            android:label="@string/aea_title"
            android:parentActivityName=".master.FreeRoamingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.massimodz8.collaborativegrouporder.master.FreeRoamingActivity" />
        </activity>
        <activity
            android:name=".OpenGameLicenseActivity"
            android:label="@string/ogla_title"
            android:parentActivityName=".MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.massimodz8.collaborativegrouporder.MainMenuActivity" />
        </activity>
    </application>

</manifest>